.wrapper {
    --size: 300px;

    position: relative;
    overflow: hidden;
    width: var(--size);
    height: var(--size);
}

.track {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    touch-action: none;
    will-change: transform;
}

.slide {
    flex: 0 0 var(--size);
}

.img {
    max-width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
}
